<div class="container">
    <h2>Gestión de Ciudades</h2>
  
    <div *ngIf="loading">Cargando...</div>

    <button class="btn btn-primary" (click)="navegarACrear()">Crear Ciudad</button>

    <table *ngIf="!loading" class="table table-bordered table-hover mt-3 responsive-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Nombre Departamento</th>
                <th>Nombre País</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ciudad of ciudades">
                <td>{{ ciudad.ciudadId }}</td>
                <td>{{ ciudad.nombreCiudad }}</td>
                <td>{{ ciudad.nombreDepartamento }}</td>
                <td>{{ ciudad.nombrePais }}</td>
                <td>
                <button class="btn btn-warning btn-sm me-2" (click)="navegarAEditar(ciudad.ciudadId)">
                    ✏️ Editar
                </button>
                <button class="btn btn-danger btn-sm" (click)="onDelete(ciudad.ciudadId)">
                    🗑️ Eliminar
                </button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
